{% extends "base.html" %}


{% block content %}
<div>
    <h4>Introduction</h4>
    <p>
        This page has been created in as a way for me to practice french articles.
        It is essentially a Flask app, which is running on Heroku servers.
        The vocabulary in the <span>vocabulary.xlsx</span> file is expanded as I learn more. 
    </p>
        <img src="static\assets\Asset4.png" style="width: 40%; float: left; padding: 2px;margin: 10px;" alt="french icon">
</div>

<div>
      <br>
    <h5 style="padding-left: 25px;"> Choose the topic:</h5>
  
     <form action="#" method="post" enctype="multipart/form-data" style="margin-bottom: 160px;">
        {% for sheet_name, df in sheets_dict.items() %}
        <input type="submit" style="background-color: salmon;" name="submit" value="{{sheet_name}}" data-foo="yes" class="btn btn-light inlinebutton">
        {% endfor %}
    </form>
</div>
{% endblock %}