{% extends "base.html" %}


{% block content %}

    <p>Congrads! <br> You got all right!🎇</p>
    <!-- Here link the script file which you downloaded from the above link -->
    <script src="static\confetti.js"></script>
    <!-- Our javascript code comes here -->
    <script>
      // for starting the confetti 

      const start = () => {
            setTimeout(function() {
                confetti.start()
            }, 1000); // 1000 is time that after 1 second start the confetti ( 1000 = 1 sec)
        };

        //  for stopping the confetti 

        const stop = () => {
            setTimeout(function() {
                confetti.stop()
            }, 5000); // 5000 is time that after 5 second stop the confetti ( 5000 = 5 sec)
        };
// after this here we are calling both the function so it works
        start();
        stop();

// if you dont want to make it stop and make it infinite you can just remove the stop function 😊
    </script>

{% endblock %}