{% extends "base.html" %}


{% block content %}
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
    

    <h4> The topic is <span style="color: salmon; font-size: larger;">{{sheet_name}}</span> </h4>
<br>
    {% if mode=='test' %}
    <p>Fill the Article column with one of the following articles: la, le, les, or la-le</p>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Article</th>
                <th scope="col">Word</th>
            </tr>
            </thead>
            <tbody>
            <form action="#"  method="post" enctype="multipart/form-data">
            {% for i, word in enumerate(words) %}
            <tr>
                <td><input type="text" name="#{{i}}"></td>
                <td>{{word}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="checkbox_bool" value="yes" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Show sample sentence for each word
            </label>
          </div>
        <button type="submit" id="btn-submit" style="background-color: aliceblue;" name="submit" value="Submit"  class="btn btn-light">Submit</button>
        </form>
    {% elif mode=='check' %}
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th scope="col">Article</th>
                <th scope="col">Word</th>
                <th scope="col">Correct Article</th>
                {% if checkbox_bool %}
                    <th scope="col">Sample Sentence</th>
                    <th scope="col">Learn more</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
                {% set class_ = "table-danger" %}
                {% for i in range(len(words)) %}
                    {% if i in correct_answers_idx:%}
                        {% set class_ = "table-success" %}
                    {% endif %}
                    <tr class="{{class_}}">
                        <td>{{user_input[i]}}</td>
                        <td>{{words[i]}}</td>
                        <td>{{articles[i]}}</td>
                        {% if checkbox_bool %}
                            <td>{{samples[i]}}</td>
                            <td> <a href="{{links[i]}}" target="blank_">link</a> </td>
                        {% endif %}
                    </tr>
                    
                {% endfor %}
            </tbody>
        </table>

    {% endif %}




{% endblock %}