{% extends "base.html" %}


{% block content %}
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
    

    <p> The topic is {{sheet_name}}</p>

    {% if mode=='test' %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Article</th>
                <th scope="col">Word</th>
            </tr>
            </thead>
            <tbody>
            {% for i, word in enumerate(words) %}<form action="#"  method="post" enctype="multipart/form-data">
            <tr>
                <td><input type="text" name="#{{i}}"></td>
                <td>{{word}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <button type="submit" id="btn" name="submit" value="Submit"  class="btn btn-light">Submit</button>
        </form>
    {% elif mode=='check' %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Article</th>
                <th scope="col">Word</th>
                <th scope="col">Correct Article</th>
            </tr>
            </thead>
            <tbody>
                {% set color = 'rgb(182, 88, 88)' %}
                {% for i in range(len(words)) %}
                    {% if i in correct_answers_idx:%}
                        {% set color='rgb(170,240,209)' %}
                    {% endif %}
                    <tr style="background-color: {{color}};">
                        <td>{{user_input[i]}}</td>
                        <td>{{words[i]}}</td>
                        <td>{{articles[i]}}</td>
                    </tr>
                    
                {% endfor %}
            </tbody>
        </table>

    {% endif %}




{% endblock %}